
<div id="header">
  <h1>Edit Articles</h1>
</div>
<div id="section_for_show">
<h1>Edit article</h1>
 
<%= render 'form' %>
</div>
 
<h3><%= link_to 'Back', articles_path %><h3>
	<div id="footer">
Copyright © test-blog.com
</div>

</body>
</html>