
<div id="header">
<h1>New article</h1>
</div>

<div id="section_for_show"> 
<%= render 'form' %>
</div> 

<h2 style=font-family:arial><%= link_to 'Back', articles_path %></h2>
<div id="footer">
Copyright © test-blog.com
</div>


</body>
</html>