<div id="header">
<h1>Welcome to Blog</h1>
</div>

<div id="nav_for_welcome">
<h2 style="font-family:arial"><%= link_to 'Blog', controller: 'articles' %><br></h2>
<h2 style="font-family:arial"><%= link_to 'New article', new_article_path %><br></h2>
</div>
<div id="section_for_index">
<h2>TEST</h2>
<p>
This is a test website containing test articles.</p>
<p>
Thanks for visiting test-blog.com</p>
</div>
<div id="footer">
Copyright © test-blog.com
</div>

</body>
</html>